In [1]:
import pandas as pd
import numpy as np

In [2]:
version = !python -V
print('Python version:', version[0])
print('Pandas version:', pd.__version__)

Python version: Python 3.6.10 :: Anaconda, Inc.
Pandas version: 0.25.3

# Week 3 Project - Pittsburgh Capital Projects Analysis

Prompt: Explore the city of Pittsburgh's capital projects on the [WPRDC](https://data.wprdc.org/dataset/capital-projects) and answer a question by processing the dataset as a CSV

## Step 1: Examine and Clean Datasets

In [3]:
# import CSVs as a dataframe
df = pd.read_csv('../data/pgh_capital_projects.csv')
df_dict = pd.read_csv('../data/capital-projects-data-dictionary.csv')

## Step 1.1: Data Dictionary

The imported data dictionary is hard to read.
First task is to transform the data dictionary into a more readable format.

ToDo List:
1. Separate the first two rows ('Description' and 'Required') into its own table, and switch the row and column.
2. From the original `df_dict` table, separate out 'fieldName' and 'fieldDescription' into its own table.

In [4]:
# Examine data dictionary. Note how the table is not immediately clear as to how it should be read
df_dict.head()

,Name,fieldName,fieldDescription,fieldDescription.1,dataFormat,length,uniqueID,permittedValues,fieldPublicAccessLevel,fieldPublicAccessLevelComment
0,Description,Field name,Description of the data field,Description of the data field,Special details related to data format (number...,Field length,Does this field contain a unique ID or primary...,Describes values permitted to be included in t...,Describes if this field is subject to any publ...,An explanation for the field's selected ?acces...
1,Required,Y,Y,Y,N,N,N,N,N,N
2,NaN,id,Unique Identifier,numeric,NaN,NaN,Y,NaN,NaN,NaN
3,NaN,name,Capital Project Name,text,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,task_description,Description Capital Project,text,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# ToDo 1: 
# Separate the first two rows ('Description' and 'Required') into its own table, and switch the row and column.

# Transpose the first two rows
dict_descriptions = df_dict.head(2).transpose().reset_index()

# Make the first row as the header
dict_descriptions.columns = dict_descriptions.iloc[0]

# Remove the first row now that it is the header
dict_descriptions = dict_descriptions.drop(index=0)

# Check output
dict_descriptions

,Name,Description,Required
1,fieldName,Field name,Y
2,fieldDescription,Description of the data field,Y
3,fieldDescription.1,Description of the data field,Y
4,dataFormat,Special details related to data format (number...,N
5,length,Field length,N
6,uniqueID,Does this field contain a unique ID or primary...,N
7,permittedValues,Describes values permitted to be included in t...,N
8,fieldPublicAccessLevel,Describes if this field is subject to any publ...,N
9,fieldPublicAccessLevelComment,An explanation for the field's selected ?acces...,N

In [6]:
# ToDo 2:
# From the original df_dict table, separate out 'fieldName' and 'fieldDescription' into its own table.
dict_field_info = df_dict[['fieldName','fieldDescription']][2:].copy()

In [7]:
dict_field_info

                fieldName                                   fieldDescription
2                      id                                  Unique Identifier
3                    name                               Capital Project Name
4        task_description                        Description Capital Project
5                    area                         Functional area of project
6         budgeted_amount                        Amount budgeted for project
7                  status                                  Status of project
8                asset_id     Name of asset that is the focus of the project
9              asset_type                      Type of asset for the project
10            fiscal_year  Fiscal year in which the project was budgeted for
11           neighborhood  Neighborhood(s) where the capital project is l...
12       council_district  Council district(s) where the capital project ...
13                   ward       Ward(s) where the capital project is located
14                  tract  Tract(s) number of the capital project's location
15  public_works_division  Public Works Division(s) where the capital pro...
16           pli_division  Permits, Licenses & Inspection Division(s) whe...
17            police_zone  Police Zone(s) where the capital project is lo...
18              fire_zone      Fire Zone(s) where capital project is located
19               latitude                                           Latitude
20              longitude                                          Longitude

## Step 1.2: Capital Projects Data

Now we'll take a look at the actual dataset.

In [8]:
df.head()

,id,name,task_description,area,budgeted_amount,status,asset_id,asset_type,fiscal_year,start_date,...,neighborhood,council_district,ward,tract,public_works_division,pli_division,police_zone,fire_zone,latitude,longitude
0,1850147310,BRIDGE REPAIRS,Columbus Avenue Bridge Handicapped Ramp and In...,Engineering and Construction,100000.0,Planned,Columbus Avenue Bridge,Bridge,2017,2017-02-08,...,Manchester,6.0,21.0,4.200321e+10,1.0,21.0,1.0,1-8,40.458485,-80.024439
1,578777540,CARNAHAN ROAD WENZELL AVENUE (TIP),Construction,Engineering and Construction,560000.0,Planned,Carnahan Road Bridge,Bridge,2017,2017-02-08,...,Banksville,2.0,20.0,4.200320e+10,5.0,20.0,6.0,4-9,40.407141,-80.034342
2,579358971,CARNAHAN ROAD WENZELL AVENUE (TIP),Construction,Engineering and Construction,2240000.0,Planned,Carnahan Road Bridge,Bridge,2017,2017-02-08,...,Banksville,2.0,20.0,4.200320e+10,5.0,20.0,6.0,4-9,40.407141,-80.034342
3,726259916,CHARLES ANDERSON BRIDGE (TIP),Preliminary Engineering Phase,Engineering and Construction,35450.0,Planned,Charles Anderson Bridge,Bridge,2017,2017-02-08,...,Central Oakland,3.0,4.0,4.200304e+10,3.0,4.0,4.0,2-8,40.434414,-79.950131
4,2027345037,CHARLES ANDERSON BRIDGE (TIP),Preliminary Engineering Phase,Engineering and Construction,673550.0,Planned,Charles Anderson Bridge,Bridge,2017,2017-02-08,...,Central Oakland,3.0,4.0,4.200304e+10,3.0,4.0,4.0,2-8,40.434414,-79.950131

In [9]:
# Check the data type of the columns. 
# Notice how date columns are stored as a string object.
df.dtypes

id                         int64
name                      object
task_description          object
area                      object
budgeted_amount          float64
status                    object
asset_id                  object
asset_type                object
fiscal_year                int64
start_date                object
inactive                  object
neighborhood              object
council_district         float64
ward                     float64
tract                    float64
public_works_division    float64
pli_division             float64
police_zone              float64
fire_zone                 object
latitude                 float64
longitude                float64
dtype: object

In [10]:
# Convert date columns to date types
df['fiscal_year'] = pd.to_datetime(df['fiscal_year'], format='%Y') # astype() will return 1970-01-01
df['start_date'] = df['start_date'].astype('datetime64[ns]')

In [11]:
df.head()

,id,name,task_description,area,budgeted_amount,status,asset_id,asset_type,fiscal_year,start_date,...,neighborhood,council_district,ward,tract,public_works_division,pli_division,police_zone,fire_zone,latitude,longitude
0,1850147310,BRIDGE REPAIRS,Columbus Avenue Bridge Handicapped Ramp and In...,Engineering and Construction,100000.0,Planned,Columbus Avenue Bridge,Bridge,2017-01-01,2017-02-08,...,Manchester,6.0,21.0,4.200321e+10,1.0,21.0,1.0,1-8,40.458485,-80.024439
1,578777540,CARNAHAN ROAD WENZELL AVENUE (TIP),Construction,Engineering and Construction,560000.0,Planned,Carnahan Road Bridge,Bridge,2017-01-01,2017-02-08,...,Banksville,2.0,20.0,4.200320e+10,5.0,20.0,6.0,4-9,40.407141,-80.034342
2,579358971,CARNAHAN ROAD WENZELL AVENUE (TIP),Construction,Engineering and Construction,2240000.0,Planned,Carnahan Road Bridge,Bridge,2017-01-01,2017-02-08,...,Banksville,2.0,20.0,4.200320e+10,5.0,20.0,6.0,4-9,40.407141,-80.034342
3,726259916,CHARLES ANDERSON BRIDGE (TIP),Preliminary Engineering Phase,Engineering and Construction,35450.0,Planned,Charles Anderson Bridge,Bridge,2017-01-01,2017-02-08,...,Central Oakland,3.0,4.0,4.200304e+10,3.0,4.0,4.0,2-8,40.434414,-79.950131
4,2027345037,CHARLES ANDERSON BRIDGE (TIP),Preliminary Engineering Phase,Engineering and Construction,673550.0,Planned,Charles Anderson Bridge,Bridge,2017-01-01,2017-02-08,...,Central Oakland,3.0,4.0,4.200304e+10,3.0,4.0,4.0,2-8,40.434414,-79.950131

## Step 2: Analyze Dataset

### Budget Data

In [12]:
# Get summarized statistics for 'budgeted_amount' column
print('Budget Stats for Capital Projects' + '\n')
print(df['budgeted_amount'].describe()
                           .apply(lambda x: format(round(x,0), ',')))

Budget Stats for Capital Projects

count           807.0
mean        389,465.0
std       1,227,542.0
min           1,000.0
25%          37,872.0
50%         100,000.0
75%         300,000.0
max      15,065,798.0
Name: budgeted_amount, dtype: object

In [13]:
# Check which project had the maximum budget alloted

# original method
# df.loc[df['budgeted_amount'] == df['budgeted_amount'].max()]

# Faster method is to use idxmax to get row number
df.loc[df['budgeted_amount'].idxmax()]

id                                          275544547
name                               STREET RESURFACING
task_description         Street Resurfacing City Wide
area                     Engineering and Construction
budgeted_amount                           1.50658e+07
status                                        Planned
asset_id                                          NaN
asset_type                                  Non-Asset
fiscal_year                       2018-01-01 00:00:00
start_date                        2018-02-12 00:00:00
inactive                                          NaN
neighborhood                                      NaN
council_district                                  NaN
ward                                              NaN
tract                                             NaN
public_works_division                             NaN
pli_division                                      NaN
police_zone                                       NaN
fire_zone                                         NaN
latitude                                            0
longitude                                           0
Name: 682, dtype: object

In [14]:
# Check which project had the smallest budget alloted
df.loc[df['budgeted_amount'].idxmin()]

id                                                    1696615757
name                     CITY COUNCIL'S UNSPECIFIED LOCAL OPTION
task_description                  Pittsburgh Action Against Rape
area                                    Administration/Sub-Award
budgeted_amount                                             1000
status                                                   Planned
asset_id                                                     NaN
asset_type                                             Non-Asset
fiscal_year                                  2017-01-01 00:00:00
start_date                                   2017-02-08 00:00:00
inactive                                                     NaN
neighborhood                                                 NaN
council_district                                             NaN
ward                                                         NaN
tract                                                        NaN
public_works_division                                        NaN
pli_division                                                 NaN
police_zone                                                  NaN
fire_zone                                                    NaN
latitude                                                       0
longitude                                                      0
Name: 455, dtype: object

In [15]:
# Check the highest budgeted projects
df.sort_values(by='budgeted_amount', ascending=False).head()

,id,name,task_description,area,budgeted_amount,status,asset_id,asset_type,fiscal_year,start_date,...,neighborhood,council_district,ward,tract,public_works_division,pli_division,police_zone,fire_zone,latitude,longitude
682,275544547,STREET RESURFACING,Street Resurfacing City Wide,Engineering and Construction,15065798.0,Planned,NaN,Non-Asset,2018-01-01,2018-02-12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
787,702343268,STREET RESURFACING,BITUMINOUS PAVING PROGRAM,Engineering and Construction,14570890.0,Planned,NaN,Non-Asset,2019-01-01,2019-03-20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
769,194595614,LED STREETLIGHT UPGRADE,CITYWIDE LED LIGHTING UPGRADE,Engineering and Construction,14000000.0,Planned,NaN,Non-Asset,2019-01-01,2019-03-20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
623,421416203,SMALLMAN STREET RECONSTRUCTION,Smallman Street Reconstruction,Engineering and Construction,11900000.0,Planned,NaN,Non-Asset,2018-01-01,2018-02-12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
528,260852692,STREET RESURFACING,Bituminous,Engineering and Construction,10516025.0,Planned,NaN,Non-Asset,2017-01-01,2017-02-08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0

In [16]:
# Check the lowest budgeted projects
df.sort_values(by='budgeted_amount').head()

,id,name,task_description,area,budgeted_amount,status,asset_id,asset_type,fiscal_year,start_date,...,neighborhood,council_district,ward,tract,public_works_division,pli_division,police_zone,fire_zone,latitude,longitude
455,1696615757,CITY COUNCIL'S UNSPECIFIED LOCAL OPTION,Pittsburgh Action Against Rape,Administration/Sub-Award,1000.0,Planned,NaN,Non-Asset,2017-01-01,2017-02-08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
417,509160176,BIKE SHARE,Education and Outreach,Engineering and Construction,1500.0,Planned,NaN,Non-Asset,2017-01-01,2017-02-08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
87,1696718969,CITY COUNCIL'S UNSPECIFIED LOCAL OPTION,Tree of Hope,Administration/Sub-Award,2500.0,Planned,NaN,Non-Asset,2017-01-01,2017-02-08,...,Squirrel Hill North,8.0,14.0,4.200314e+10,3.0,14.0,4.0,2-18,40.443601,-79.921054
86,151537107,CITY COUNCIL'S UNSPECIFIED LOCAL OPTION,Shepherd Wellness Community,Administration/Sub-Award,2500.0,Planned,NaN,Non-Asset,2017-01-01,2017-02-09,...,Bloomfield,7.0,8.0,4.200308e+10,2.0,8.0,5.0,3-1,40.459660,-79.947351
84,1011353526,CITY COUNCIL'S UNSPECIFIED LOCAL OPTION,Persad Center,Administration/Sub-Award,2500.0,Planned,NaN,Non-Asset,2017-01-01,2017-02-08,...,Upper Lawrenceville,7.0,10.0,4.200310e+10,2.0,10.0,2.0,3-5,40.482217,-79.952386

In [17]:
# Amongst the top 25% percentile, what were its project area and neighborhoods?
top_25_percent = df['budgeted_amount'] >= df['budgeted_amount'].describe()['75%']
top_25_percent_area_agg = df[top_25_percent].groupby(['area'])['id'] \
                  .agg('count') \
                  .sort_values(ascending=False)
top_25_percent_neighborhood_agg = df[top_25_percent]['neighborhood'].value_counts().head(10)

print('Top 25% Project Areas:')
print(top_25_percent_area_agg)

print('\nTop 25% Project Neighborhoods:')
print(top_25_percent_neighborhood_agg)

Top 25% Project Areas:
area
Engineering and Construction              82
Facility Improvement                      53
Neighborhood and Community Development    26
Administration/Sub-Award                  26
Vehicles and Equipment                    19
Public Safety                              9
Name: id, dtype: int64

Top 25% Project Neighborhoods:
Central Business District    8
Greenfield                   7
South Side Flats             7
Carrick                      5
Elliott                      5
Beechview                    4
Strip District               4
Beltzhoover                  3
Perry North                  3
Spring Hill-City View        3
Name: neighborhood, dtype: int64

In [18]:
# Amongst the bottom 25% percentile, what were its project area and neighborhood?
bottom_25_percent = df['budgeted_amount'] <= df['budgeted_amount'].describe()['25%']
bottom_25_percent_area_agg = df[bottom_25_percent].groupby(['area'])['id'] \
                                             .agg('count') \
                                             .sort_values(ascending=False)
bottom_25_percent_neighborhood_agg = df[bottom_25_percent]['neighborhood'].value_counts().head(10)

print('Bottom 25% Project Areas:')
print(bottom_25_percent_area_agg)

print('\nBottom 25% Project Neighborhoods')
print(bottom_25_percent_neighborhood_agg)

Bottom 25% Project Areas:
area
Facility Improvement            98
Administration/Sub-Award        80
Engineering and Construction    15
Vehicles and Equipment           9
Name: id, dtype: int64

Bottom 25% Project Neighborhoods
South Side Flats       9
Allegheny Center       7
Brookline              7
Brighton Heights       6
Bloomfield             6
Central Oakland        6
Carrick                5
Elliott                5
East Liberty           5
Lower Lawrenceville    5
Name: neighborhood, dtype: int64

In [19]:
# Find the sum of budget amount received by each neighborhood
budget_agg = df.groupby(['neighborhood'])['budgeted_amount'].agg('sum')
budget_agg_top10 = budget_agg.sort_values(ascending=False).head(10)
budget_agg_bottom10 = budget_agg.sort_values().head(10)

print('Sum of Budgeted Amount Allotted per Neighborhood\n')

print('Top 10 Budget Sums Grouped by Neighborhood:')
print(budget_agg_top10)

print('\nBottom 10 Budget Sums Grouped by Neighborhood:')
print(budget_agg_bottom10)

Sum of Budgeted Amount Allotted per Neighborhood

Top 10 Budget Sums Grouped by Neighborhood:
neighborhood
Greenfield                   13047700.0
Central Business District     8206845.0
South Side Flats              6246026.0
Squirrel Hill North           4815935.0
Strip District                4407500.0
Spring Hill-City View         3652200.0
Elliott                       3530768.0
Allegheny West                3260176.2
Banksville                    2973000.0
Beechview                     2940400.0
Name: budgeted_amount, dtype: float64

Bottom 10 Budget Sums Grouped by Neighborhood:
neighborhood
Swisshelm Park             0.0
Fairywood               5200.0
East Hills              5200.0
Glen Hazel              7000.0
Perry South             8000.0
Upper Lawrenceville     8500.0
Garfield               10200.0
Morningside            13500.0
Spring Garden          36000.0
Esplen                 40800.0
Name: budgeted_amount, dtype: float64

In [20]:
# Search for some neighborhood of interest to me:

# Create function to get the budget_sum for neighborhoods
def neighborhood_match(neighborhood):
    n_stats = budget_agg[budget_agg.index
                         .str.lower()
                         .str.contains(neighborhood)]
    if len(n_stats) == 0:
        return 'N/A'
    return n_stats

print('Squirrel Hill', neighborhood_match('squirrel hill'))
print('\nEast Liberty', neighborhood_match('east liberty'))
print('\nRegent Square', neighborhood_match('regent square'))
print('\nPoint Breeze', neighborhood_match('point breeze'))

Squirrel Hill neighborhood
Squirrel Hill North    4815935.0
Squirrel Hill South    1981500.0
Name: budgeted_amount, dtype: float64

East Liberty neighborhood
East Liberty    1166700.0
Name: budgeted_amount, dtype: float64

Regent Square N/A

Point Breeze neighborhood
Point Breeze    85000.0
Name: budgeted_amount, dtype: float64

In [21]:
# For named projects, which ones were allotted the largest budget?
df.groupby(['name'])['budgeted_amount'] \
      .agg('sum') \
      .sort_values(ascending=False).head(10)

name
STREET RESURFACING                                                                     49470513.00
CAPITAL EQUIPMENT ACQUISITION                                                          18794409.32
SMALLMAN STREET RECONSTRUCTION                                                         14630000.00
FOUR MILE RUN                                                                          14500000.00
LED STREETLIGHT UPGRADE                                                                14000000.00
ADVANCED TRANSPORTATION AND CONGESTION MANAGEMENT TECHNOLOGIES DEVELOPMENT (ATCMTD)    13877703.50
ECONOMIC DEVELOPMENT AND HOUSING                                                       10958240.00
PARK RECONSTRUCTION                                                                     9643655.00
SLOPE FAILURE REMEDIATION                                                               9600000.00
STREETSCAPE AND INTERSECTION RECONSTRUCTION                                             8352867.00
Name: budgeted_amount, dtype: float64

In [22]:
# For each asset, what was the total budget allotted?
df.groupby(['asset_id','neighborhood'])['budgeted_amount'] \
      .agg('sum') \
      .sort_values(ascending=False).head(10)

asset_id                                 neighborhood
Wightman Park                            Squirrel Hill North          4003435.0
Brahm St                                 Spring Hill-City View        3400000.0
West Ohio Street Bridge                  Allegheny West               3260176.2
City-County Building                     Central Business District    2956845.0
Carnahan Road Bridge                     Banksville                   2800000.0
5012                                     Strip District               2730000.0
Charles Anderson Bridge                  Central Oakland              2709000.0
7490                                     South Side Flats             2000000.0
Public Works 4th Division Main Building  Knoxville                    2000000.0
Riverview                                Perry North                  1600000.0
Name: budgeted_amount, dtype: float64

In [23]:
# Follow up on analysis above: Group and rank named projects by neighborhood and budget sum
df.groupby(['name','asset_id','neighborhood'])['budgeted_amount'] \
    .agg('sum') \
    .sort_values(ascending=False).head(10)

name                                     asset_id                                 neighborhood
PARK RECONSTRUCTION                      Wightman Park                            Squirrel Hill North          4003435.0
SLOPE FAILURE REMEDIATION                Brahm St                                 Spring Hill-City View        3400000.0
WEST OHIO STREET BRIDGE (TIP)            West Ohio Street Bridge                  Allegheny West               3260176.2
CARNAHAN ROAD WENZELL AVENUE (TIP)       Carnahan Road Bridge                     Banksville                   2800000.0
SMALLMAN STREET RECONSTRUCTION           5012                                     Strip District               2730000.0
CHARLES ANDERSON BRIDGE (TIP)            Charles Anderson Bridge                  Central Oakland              2709000.0
FACILITY IMPROVEMENTS - CITY FACILITIES  City-County Building                     Central Business District    2455845.0
                                         Public Works 4th Division Main Building  Knoxville                    2000000.0
EAST CARSON STREET                       7490                                     South Side Flats             2000000.0
POOL REHABILITATION                      Riverview                                Perry North                  1600000.0
Name: budgeted_amount, dtype: float64

In [24]:
# For categorical variables, loop through each one with a count and sort

cols = ['name','area','status','asset_id','neighborhood']

for col in cols:
    print(col.upper())
    print(df[col].value_counts().head(10), '\n')

NAME
CITY COUNCIL'S UNSPECIFIED LOCAL OPTION                  96
CAPITAL EQUIPMENT ACQUISITION                            62
SPORT FACILITY IMPROVEMENTS                              56
PARK RECONSTRUCTION                                      50
PLAY AREA IMPROVEMENTS                                   48
COMPLETE STREETS                                         38
FACILITY IMPROVEMENTS - PUBLIC SAFETY FACILITIES         31
FACILITY IMPROVEMENTS - RECREATION AND SENIOR CENTERS    19
ECONOMIC DEVELOPMENT AND HOUSING                         17
STREET RESURFACING                                       16
Name: name, dtype: int64

AREA
Facility Improvement                      295
Engineering and Construction              218
Administration/Sub-Award                  177
Vehicles and Equipment                     62
Neighborhood and Community Development     45
Public Safety                              11
Name: area, dtype: int64

STATUS
Planned        579
Completed      122
In Progress     93
Canceled        16
Name: status, dtype: int64

ASSET_ID
City-County Building                   7
Herschel Playground                    6
West Ohio Street Bridge                5
Schenley Park Skating Rink Building    4
TS279                                  4
Medic 03 Police Zone 06                4
Joseph Kukuruda Playground             4
954                                    4
Phillips Park                          4
Firehouse 35                           3
Name: asset_id, dtype: int64

NEIGHBORHOOD
South Side Flats             26
Brookline                    17
Central Business District    16
Bloomfield                   16
South Side Slopes            15
Allegheny Center             15
Elliott                      15
Carrick                      14
Greenfield                   13
Beltzhoover                  12
Name: neighborhood, dtype: int64